@font-face {
    font-family: 'Pilseung Gothic';
    src: url('PilseungGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pilseung Gothic', sans-serif;
    /* 기타 스타일 속성들 */
}
h2 {
    position:absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #DDDDDD;
    top:50%;
    left:0%;
    margin-top: 200px;
    text-align: center;
    z-index: 0; 
}
#nemo{
    position: absolute;
    width: 343px;
    height: 291px;
    left: 50%;
    top: 293px;
    transform: translateX(-50%);
    background: #ECFFC2;
    z-index: 0; 
    opacity: 1;
}
#naked{
    position: absolute;
    width: 199px;
    height: 250px;
    border-radius: 50%;
    left: 50%;
    top: 302px;
    transform: translateX(-50%);
    background: #FFFDEF;
    z-index: 1;
}
#dotone{
    position: absolute;
    width: 13.29px;
    height: 12.63px;
    border-radius: 50%;
    left: 50%;
    margin-left: 56px;
    top: 476.24px;
    transform: translateX(-50%);
    background: #F1EEDE;
    z-index: 1;
}
#dottwo{
    position: absolute;
    width: 13.29px;
    height: 12.63px;
    border-radius: 50%;
    left: 50%;
    margin-left: 66px;
    top: 453.52px;
    transform: translateX(-50%);
    background: #F1EEDE;
    z-index: 1;
}
#dotthree{
    position: absolute;
    width: 13.29px;
    height: 12.63px;
    border-radius: 50%;
    left: 50%;
    margin-left: 33px;
    top: 466.14px;
    transform: translateX(-50%);
    background: #F1EEDE;
    z-index: 1;
}
#lfoot{
    position: absolute;
    width: 75px;
    height: 77px;
    border-radius: 50%;
    left: 50%;
    margin-left: -65px;
    top: 517.02px;
    transform: translateX(-50%);
    background: linear-gradient(0deg, #939181 0.03%, #FFFDEF 49.38%);
    z-index: 1;
}
#rfoot{
    position: absolute;
    width: 75px;
    height: 77px;
    border-radius: 50%;
    left: 50%;
    margin-left: 65px;
    top: 517.02px;
    transform: translateX(-50%);
    background: linear-gradient(0deg, #939181 0.03%, #FFFDEF 49.38%);
    z-index: 1;
}

#larm{
    position: absolute;
    width: 45.46px;
    height: 100.48px;
    border-radius: 50%;
    left: 50%;
    margin-left: -152px;
    top: 350.2px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #939181 0%, #FFFDEF 46.35%, #FFFDEF 46.35%);
    transform: rotate(-135deg);
    z-index: 1;
}
#rarm{
    position: absolute;
    width: 45.46px;
    height: 100.48px;
    border-radius: 50%;
    left: 50%;
    margin-left: 107px;
    top: 350.2px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #939181 0%, #FFFDEF 46.35%, #FFFDEF 46.35%);
    transform: rotate(135deg);
    z-index: 1;
}
#face {
    position: absolute;
    width: 244px;
    height: 211px;
    border-radius: 50%;
    left: 50%;
    top: 113px;
    transform: translateX(-50%);
    background: #FFFDEF;
    z-index: 2;
}
#lear{
    position: absolute;
    width: 81.34px;
    height: 43.06px;
    left: 50%;
    border-radius: 50%;
    top: 108.34px;
    margin-left: -159px;
    transform: translateX(-50%);
    background: linear-gradient(270.65deg, #F5D7D7 1.24%, #444444 95.75%);
    transform: rotate(28.51deg);
    z-index: 3;
}
#rear{
    position: absolute;
    width: 81.34px;
    height: 43.06px;
    left: 50%;
    top: 108.34px;
    margin-left: 77px;
    transform: translateX(-50%);
    border-radius: 50%;
    background: linear-gradient(267.84deg, #F5D7D7 -12.5%, #4B4B4B 108.96%);
    transform: rotate(145.14deg);
    z-index: 3;
}
#leye{
    position: absolute;
    width: 19px;
    height: 24px;
    border-radius: 50%;
    left: 50%;
    top: 206.02px;
    margin-left: -55px;
    transform: translateX(-50%);
    background: #000000;
    z-index: 3;
}
#reye{
    position: absolute;
    width: 19px;
    height: 24px;
    border-radius: 50%;
    left: 50%;
    top: 206.02px;
    margin-left: 55px;
    transform: translateX(-50%);
    background: #000000;
    z-index: 2;
}
#mouth{
    position: absolute;
    width: 103px;
    height: 84px;
    border-radius: 50%;
    left: 50%;
    top: 218.02px;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, #F8D1D1 0%, rgba(253, 219, 219, 0.54) 60.94%, rgba(251, 220, 220, 0) 100%);
    z-index: 3;
}
#noseone{
    position: absolute;
    width: 23.68px;
    height: 0px;
    left: 50%;
    margin-left: -23px;
    top: 242.33px;
    border: 1px solid #000000;
    transform: rotate(45deg);
    z-index: 4;
}
#nosetwo{
    position: absolute;
    width: 23.68px;
    height: 0px;
    left: 50%;
    margin-left: -5px;
    top: 242.33px;
    border: 1px solid #000000;
    transform: rotate(135deg);
    z-index: 4;
}
#nosethree{
    position: absolute;
    width: 28px;
    height: 0px;
    left: 50%;
    margin-left: -16px;
    top: 265.02px;
    border: 1px solid #000000;
    transform: rotate(90deg);
    z-index: 4;
}
#fur1{
    position: absolute;
    width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
margin-left: 120px;
    top: 284px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur2{
    position: absolute;
     width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
   margin-left: -204px;
    top: 403px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur3{
    position: absolute;
    width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
    margin-left: 349px;
    top: 483px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur4{
    position: absolute;
    width: 274px;
height: 256px;
    border-radius: 50%;
    left: 50%;
    margin-left: -8px;
    top: 362px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur5{
    position: absolute;
    width: 274px;
height: 256px;
    border-radius: 50%;
    left: 50%;
    margin-left: -154px;
    top: 482px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur6{
    position: absolute;
    width: 274px;
height: 256px;
    border-radius: 50%;
    left: 50%;
    margin-left: -279px;
    top: 566px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur7{
    position: absolute;
    width: 409px;
height: 382px;
    border-radius: 50%;
    left: 50%;
    margin-left: -16px;
    top: 622px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur8{
    position: absolute;
    width: 289px;
height: 270px;
    border-radius: 50%;
    left: 50%;
    margin-left: 187px;
    top: 370px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur9{
    position: absolute;
    width: 289px;
height: 270px;
    border-radius: 50%;
    left: 50%;
    margin-left: 315px;
    top: 627px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur10{
    position: absolute;
    width: 274px;
height: 256px;
    border-radius: 50%;
    left: 50%;
    margin-left: 151px;
    top: 774px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur11{
    position: absolute;
    width: 274px;
height: 256px;
    border-radius: 50%;
    left: 50%;
    margin-left: -13px;
    top: 785px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#fur12{
    position: absolute;
    width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
    margin-left: -214px;
    top: 690px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}
#fur13{
    position: absolute;
    width: 200px;
height: 187px;
    border-radius: 50%;
    left: 50%;
    margin-left: -153px;
    top: 798px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}
#fur14{
    position: absolute;
    width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
    margin-left: -263px;
    top: 735px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur15{
    position: absolute;
    width: 274px;
height: 256px;
    border-radius: 50%;
    left: 50%;
    margin-left: 93px;
    top: 717px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur16{
    position: absolute;
    width: 205px;
height: 191px;
    border-radius: 50%;
    left: 50%;
    margin-left: -182px;
    top: 652px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur17{
    position: absolute;
    width: 289px;
height: 270px;
    border-radius: 50%;
    left: 50%;
    margin-left: -53px;
    top: 512px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur18{
    position: absolute;
    width: 274px;
height: 256px;
    border-radius: 50%;
    left: 50%;
    margin-left: 194px;
    top: 494px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur19{
    position: absolute;
    width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
    margin-left: -6px;
    top: 300px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur20{
    position: absolute;
   width: 123px;
height: 115px;
    border-radius: 50%;
    left: 50%;
    margin-left: -97px;
    top: 281px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur21{
    position: absolute;
   width: 123px;
height: 115px;
    border-radius: 50%;
    left: 50%;
    margin-left: -245px;
    top: 331px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur22{
    position: absolute;
  width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
    margin-left: -162px;
    top: 307px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur23{
    position: absolute;
  width: 205px;
height: 191px;
    border-radius: 50%;
    left: 50%;
    margin-left: -320px;
    top: 479px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur24{
    position: absolute;
  width: 205px;
height: 191px;
    border-radius: 50%;
    left: 50%;
    margin-left: -95px;
    top: 390px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur25{
    position: absolute;
  width: 205px;
height: 191px;
    border-radius: 50%;
    left: 50%;
    margin-left: -281px;
    top: 382px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur26{
    position: absolute;
  width: 205px;
height: 191px;
    border-radius: 50%;
    left: 50%;
    margin-left: 229px;
    top: 316px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur27{
    position: absolute;
  width: 205px;
height: 191px;
    border-radius: 50%;
    left: 50%;
        margin-left: 394px;
    top: 546px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur28{
    position: absolute;
  width: 205px;
height: 191px;
    border-radius: 50%;
    left: 50%;
       margin-left: 294px;
    top: 745px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur29{
    position: absolute;
  width: 191.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
       margin-left: 330px;
    top: 377px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
}

#fur30{
    position: absolute;
 width: 296px;
height: 277px;
    border-radius: 50%;
    left: 50%;
     margin-left: 114px;
    top: 356px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
     z-index: 4;
    opacity: 1;
    }

#tri {
    position: absolute;
    width: 0px;
    height: 1px;
    top: 236px;
    left:50%;
    margin-left: -67px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid;
    color: #b1dbff;
    z-index: 4;
}
#tear{
position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    left: 50%;
       margin-left: -57px;
    top: 249px;
    transform: translateX(-50%);
    background: #b1dbff;
    z-index: 4;
}

#bubble{
 position: relative;
  width: 270px;
  height: 169px;
  border-radius: 50%;
  left:50%;
  margin-left:189px;
   margin-top: 55px;
  background: #ffffff;
  z-index: 2;
}

#bubble2{
 position: absolute;
  width: 280px;
  height: 150px;
  border-radius: 50%;
  top:50%;
    left:50%;
    margin-top: 47px;
  margin-left:-487px;
  background: #ffffff;
  z-index: 2;
}

#bubble2t{
 position: absolute;
  width: 280px;
  height: 150px;
  border-radius: 50%;
  top:50%;
    left:50%;
    margin-top: -164px;
  margin-left:-487px;
  background: #ffffff;
  z-index: 2;
}
#bubble2w{
 position: absolute;
  width: 280px;
  height: 150px;
  border-radius: 50%;
  top:50%;
    left:50%;
    margin-top: -62px;
  margin-left:-487px;
  background: #ffffff;
  z-index: 2;
}

#bubble3{
 position: absolute;
  width: 280px;
    height: 152px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: 81px;
    margin-left: 367px;
  background: #ffffff;
  z-index: 2;
}
#bubble4{
 position: absolute;
  width: 100px;
  height:60px;
  border-radius: 50%;
  top:50%;
    left:50%;
    margin-top: 177px;
    margin-left: 547px;
  background: #ffffff;
  z-index: 2;
}
#circle
 {position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: 354px;
    margin-top: 10px;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.609375) 64.06%, rgba(255, 255, 255, 0) 100%);
    z-index: 3;
}

#circle2{
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: 10px;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.296875) 70.31%, rgba(255, 255, 255, 0.65) 70.32%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}

#circle3{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -216px;
    margin-top: -303px;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.296875) 70.31%, rgba(255, 255, 255, 0.65) 70.32%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}

#circle4{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: 527px;
    margin-top: -116px;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.296875) 70.31%, rgba(255, 255, 255, 0.65) 70.32%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}

#circle5
 {position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -522px;
    margin-top: -99px;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.609375) 64.06%, rgba(255, 255, 255, 0) 100%);
    z-index: 3;
}

#button{
 position: fixed;
  width: 100px;
  height: 77px;
  border-radius: 40%;
  top: 316px;
  right: -50px;
  background: #ffffff;
  z-index: 3;
}
#button2{
 position: fixed;
  width: 100px;
  height: 77px;
  border-radius: 40%;
  top: 244px;
  right: -50px;
  background: #ffffff;
  z-index: 3;
}
#button3{
 position: fixed;
  width: 100px;
  height: 77px;
  border-radius: 40%;
  top: 174px;
  right: -50px;
  background: #ffffff;
  z-index: 3;
}

#coat1{
    position: absolute;
    width: 240.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
margin-left: 120px;
    top: 750px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}
#coat2{
    position: absolute;
    width: 240.65px;
height: 179.21px;
    border-radius: 50%;
    left: 50%;
margin-left: -15px;
    top: 781px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}

#coat3{
    position: absolute;
    width: 200.65px;
height: 139.21px;
    border-radius: 50%;
    left: 50%;
margin-left: -157px;
    top: 781px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}

#coat4{
    position: absolute;
    width: 180.65px;
height: 119.21px;
    border-radius: 50%;
    left: 50%;
margin-left: 255px;
    top: 812px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}

#coat5{
    position: absolute;
    width: 100.65px;
height: 88.21px;
    border-radius: 50%;
    left: 50%;
margin-left: -255px;
    top: 812px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #4B4B4B 0%, #4B4B4B 64.58%, #222222 100%);
    z-index: 4;
    opacity: 1;
}

h3 {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top: -125px;
    text-align: center;
    margin-left: 649px;
    z-index: 2; 
    opacity: 1;
}

h4 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
     top:50%;
    left:50%;
   margin-top: -147px;
    text-align: center;
    margin-left: -464px;
    z-index: 2; 
    opacity: 1;
}
h5 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    top:50%;
    left:50%;
    margin-top: 139px;
    text-align: center;
    margin-left: 380px;
    z-index: 2; 
    opacity: 1;
}

