@font-face {
    font-family: 'Pilseung Gothic';
    src: url('PilseungGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pilseung Gothic', sans-serif;
    /* 기타 스타일 속성들 */
}
#nemo{
    position: absolute;
    width: 343px;
    height: 291px;
    left: 50%;
    top: 508px;
    transform: translateX(-50%);
    background: #ECFFC2;
    z-index: 3; 
    opacity: 0;
}
#naked{
    position: absolute;
    width: 199px;
    height: 250px;
    border-radius: 50%;
    left: 50%;
    top: 517px;
    transform: translateX(-50%);
    background: #FFFDEF;
    z-index: 0;
}
#dotone{
    position: absolute;
    width: 13.29px;
    height: 12.63px;
    border-radius: 50%;
    left: 50%;
    margin-left: 56px;
    top: 691.24px;
    transform: translateX(-50%);
    background: #F1EEDE;
    z-index: 0;
}
#dottwo{
    position: absolute;
    width: 13.29px;
    height: 12.63px;
    border-radius: 50%;
    left: 50%;
    margin-left: 66px;
    top: 668.52px;
    transform: translateX(-50%);
    background: #F1EEDE;
    z-index: 0;
}
#dotthree{
    position: absolute;
    width: 13.29px;
    height: 12.63px;
    border-radius: 50%;
    left: 50%;
    margin-left: 33px;
    top: 681.14px;
    transform: translateX(-50%);
    background: #F1EEDE;
    z-index: 0;
}
#lfoot{
    position: absolute;
    width: 75px;
    height: 77px;
    border-radius: 50%;
    left: 50%;
    margin-left: -65px;
    top: 732.02px;
    transform: translateX(-50%);
    background: linear-gradient(0deg, #939181 0.03%, #FFFDEF 49.38%);
    z-index: 0;
}
#rfoot{
    position: absolute;
    width: 75px;
    height: 77px;
    border-radius: 50%;
    left: 50%;
    margin-left: 65px;
    top: 732.02px;
    transform: translateX(-50%);
    background: linear-gradient(0deg, #939181 0.03%, #FFFDEF 49.38%);
    z-index: 0;
}

#larm{
    position: absolute;
    width: 45.46px;
    height: 100.48px;
    border-radius: 50%;
    left: 50%;
    margin-left: -152px;
    top: 565.2px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #939181 0%, #FFFDEF 46.35%, #FFFDEF 46.35%);
    transform: rotate(-135deg);
    z-index: 0;
}
#rarm{
    position: absolute;
    width: 45.46px;
    height: 100.48px;
    border-radius: 50%;
    left: 50%;
    margin-left: 107px;
    top: 565.2px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #939181 0%, #FFFDEF 46.35%, #FFFDEF 46.35%);
    transform: rotate(135deg);
    z-index: 0;
}
#face {
    position: absolute;
    width: 244px;
    height: 211px;
    border-radius: 50%;
    left: 50%;
    top: 328.02px;
    transform: translateX(-50%);
    background: #FFFDEF;
    z-index: 1;
}
#lear{
    position: absolute;
    width: 81.34px;
    height: 43.06px;
    left: 50%;
    border-radius: 50%;
    top: 323.34px;
    margin-left: -159px;
    transform: translateX(-50%);
    background: linear-gradient(271.33deg, #939181 51.13%, #FFFDEF 154.92%);
    transform: rotate(28.51deg);
    z-index: 2;
}
#rear{
    position: absolute;
    width: 81.34px;
    height: 43.06px;
    left: 50%;
    top: 323.34px;
    margin-left: 77px;
    transform: translateX(-50%);
    border-radius: 50%;
    background: linear-gradient(271.33deg, #939181 51.13%, #FFFDEF 154.92%);
    transform: rotate(145.14deg);
    z-index: 2;
}
#leye{
    position: absolute;
    width: 19px;
    height: 24px;
    border-radius: 50%;
    left: 50%;
    top: 421.02px;
    margin-left: -55px;
    transform: translateX(-50%);
    background: #000000;
    z-index: 2;
}
#reye{
    position: absolute;
    width: 19px;
    height: 24px;
    border-radius: 50%;
    left: 50%;
    top: 421.02px;
    margin-left: 55px;
    transform: translateX(-50%);
    background: #000000;
    z-index: 2;
}
#mouth{
    position: absolute;
    width: 103px;
    height: 84px;
    border-radius: 50%;
    left: 50%;
    top: 433.02px;
    transform: translateX(-50%);
    background: radial-gradient(50% 50% at 50% 50%, #939181 0%, rgba(147, 145, 129, 0.54) 60.94%, rgba(147, 145, 129, 0) 100%);
    z-index: 2;
}
#noseone{
    position: absolute;
    width: 23.68px;
    height: 0px;
    left: 50%;
    margin-left: -23px;
    top: 457.33px;
    border: 1px solid #000000;
    transform: rotate(45deg);
    z-index: 3;
}
#nosetwo{
    position: absolute;
    width: 23.68px;
    height: 0px;
    left: 50%;
    margin-left: -5px;
    top: 457.33px;
    border: 1px solid #000000;
    transform: rotate(135deg);
    z-index: 3;
}
#nosethree{
    position: absolute;
    width: 28px;
    height: 0px;
    left: 50%;
    margin-left: -16px;
    top: 480.02px;
    border: 1px solid #000000;
    transform: rotate(90deg);
    z-index: 3;
}
#fur1{
    position: absolute;
    width: 154px;
    height: 144px;
    border-radius: 50%;
    left: 50%;
    margin-left: 61px;
    top: 624px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur2{
    position: absolute;
    width: 119px;
    height: 111px;
    border-radius: 50%;
    left: 50%;
    margin-left: 75px;
    top: 514px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur3{
    position: absolute;
    width: 121px;
    height: 113px;
    border-radius: 50%;
    left: 50%;
    margin-left: 5px;
    top: 525px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur4{
    position: absolute;
    width: 131px;
    height: 122px;
    border-radius: 50%;
    left: 50%;
    margin-left: -73px;
    top: 516px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur5{
    position: absolute;
    width: 131px;
    height: 122px;
    border-radius: 50%;
    left: 50%;
    margin-left: -91px;
    top: 550px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur6{
    position: absolute;
    width: 103px;
    height: 96px;
    border-radius: 50%;
    left: 50%;
    margin-left: 105px;
    top: 566px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur7{
    position: absolute;
    width: 154px;
    height: 144px;
    border-radius: 50%;
    left: 50%;
    margin-left: -63px;
    top: 622px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur8{
    position: absolute;
    width: 128px;
    height: 119px;
    border-radius: 50%;
    left: 50%;
    top: 652px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur9{
    position: absolute;
    width: 103px;
    height: 96px;
    border-radius: 50%;
    left: 50%;
    margin-left: -53px;
    top: 627px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur10{
    position: absolute;
    width: 119px;
    height: 111px;
    border-radius: 50%;
    left: 50%;
    margin-left: -69px;
    top: 548px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur11{
    position: absolute;
    width: 157px;
    height: 146px;
    border-radius: 50%;
    left: 50%;
    margin-left: 31px;
    top: 548px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#fur12{
    position: absolute;
    width: 154px;
    height: 144px;
    border-radius: 50%;
    left: 50%;
    margin-left: -6px;
    top: 551px;
    transform: translateX(-50%);
    background: radial-gradient(88.89% 69.44% at 50% 30.56%, #939181 0%, #939181 59.41%, #6B6B6B 100%);
    z-index: 3;
    opacity: 1;
}
#tri {
    position: absolute;
    width: 0px;
    height: 1px;
    top: 451px;
    left:50%;
    margin-left: -67px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid;
    color: #b1dbff;
    z-index: 3;
}
#tear{
position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    left: 50%;
       margin-left: -57px;
    top: 464px;
    transform: translateX(-50%);
    background: #b1dbff;
    z-index: 3;
}
#button{
 position: fixed;
  width: 100px;
  height: 77px;
  border-radius: 40%;
  top: 316px;
  right: -50px;
  background: #ffffff;
  z-index: 3;
}
#button2{
 position: fixed;
  width: 100px;
  height: 77px;
  border-radius: 40%;
  top: 244px;
  right: -50px;
  background: #ffffff;
  z-index: 3;
}
#button3{
 position: fixed;
  width: 100px;
  height: 77px;
  border-radius: 40%;
  top: 174px;
  right: -50px;
  background: #ffffff;
  z-index: 3;
}
h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-top: 50px;
    text-align: right;
    margin-right: 150px;
    z-index: 1; 
    opacity: 1;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #DDDDDD;
    margin-top: 462px;
    text-align: center;
    z-index: 0; 
}
